<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.stockovin">

    <uses-permission android:name = "android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name = "android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name = "android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"
        tools:node="remove" />
    <uses-feature android:name="android.hardware.camera"
        android:required="true"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <application




        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />

        <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8989015951151317~3908098453"/>
        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
             See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/icon_bottle" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />


        <activity android:name=".BottleActivity"></activity>
        <activity
            android:name=".BottleCreationActivity"
            android:theme="@style/AppTheme1"
            android:parentActivityName=".CategorieActivity">
        </activity>
        <activity android:name=".ProfileActivity"
            android:theme="@style/AppTheme1"
            android:hardwareAccelerated="true">
        </activity>

        <activity
            android:name=".ProfileConfigActivity"
            android:theme="@style/AppTheme1"
            android:parentActivityName=".ProfileActivity">
        </activity>
        <activity
            android:name=".CategorieActivity"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName=".ProfileActivity">
        </activity>

        <activity android:name=".CategorieCreationActivity"
            android:theme="@style/AppTheme1"
            android:parentActivityName=".CategorieActivity"></activity>
        <activity android:name=".BottleList"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName=".ProfileActivity">
        </activity>
        <activity android:name=".UserFriendListActivity"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName=".ProfileActivity">
        </activity>
        <activity android:name=".BottleListSuggest"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName=".ProfileActivity">
        </activity>
        <activity android:name=".LoginActivity" />
        <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service    android:name=".MyFirebaseMessagingService"
                    android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".ResetPasswordActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="com.google.firebase.MESSAGING_EVENT" />

            </intent-filter>
        </activity>
        <receiver android:name=".NotificationPublisher"
            android:exported="true"
            android:enabled="true"
            android:process=":remote"/>
    </application>
</manifest>